:root {
  --red: hsl(0, 100%, 68%);
  --red-hover: rgb(255, 132, 132);
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
  --body-font-size: 1.8rem;
  --primary-font-family: "Barlow Condensed", sans-serif;
  --font-w-regular: 400;
  --font-w-bold: 700;
  --container-max-width: 144rem;
  --nav-max-width: 111rem;
  --layout-max-width: 128rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
img,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(241, 51, 76, 0.5);
}

::selection {
  background-color: var(--red-hover);
  color: #fff;
}

.container {
  box-sizing: border-box;
  font-family: var(--primary-font-family);
  font-weight: var(--font-w-regular);
  line-height: 1.6;
  font-size: var(--body-font-size);
  color: var(--very-dark-blue);
  display: grid;
  grid-template-columns: 1fr repeat(10, minmax(min-content, 14.4rem)) 1fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  position: relative;
  overflow-x: hidden;
}

.background {
  background-color: var(--light-grayish-blue);
  border-bottom-left-radius: 6rem;
  height: 42rem;
  grid-column: 7/12;
  grid-row: 1/3;
}

.header {
  grid-column: 3/11;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0rem;
  z-index: 300;
}

.nav__logo-link svg {
  display: block;
}
.nav__logo {
  width: 3rem;
  height: 3rem;
}
.nav__list {
  display: flex;
  list-style: none;
  place-items: center;
  column-gap: 4.4rem;
}
.nav__item {
  text-transform: uppercase;
  font-weight: var(--font-w-bold);
  letter-spacing: 0.1rem;
  position: relative;
}
.nav__item--link {
  text-decoration: none;
  color: inherit;
}
.nav__item--link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  top: 2.25rem;
  left: 0;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  transform-origin: center;
  transform: scale(0);
  transition: all 160ms cubic-bezier(0.8, 0.24, 0.73, 0.77);
  background-color: var(--very-dark-blue);
}
.nav__item--link:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.nav__item--dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--grayish-blue);
  border-radius: 50%;
}
.nav__item--link-login {
  text-decoration: none;
  color: var(--grayish-blue);
}
.nav__item--link-login:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  top: 2.25rem;
  left: 0;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  transform-origin: center;
  transform: scale(0);
  transition: all 160ms cubic-bezier(0.8, 0.24, 0.73, 0.77);
  background-color: var(--grayish-blue);
}
.nav__item--link-login:hover::after {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.btn-mobile-nav {
  display: none;
  cursor: pointer;
}
.btn-mobile-nav__icon {
  width: 2.5rem;
  height: 2.5rem;
}
.btn-mobile-nav__icon--open {
  display: block;
}
.btn-mobile-nav__icon--close {
  display: none;
}

.main {
  grid-column: 3/12;
  grid-row: 2/3;
  overflow: hidden;
  z-index: 200;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 7.5rem 0;
}
.hero__heading-box {
  text-transform: uppercase;
  margin: 0 1rem;
}
.hero__dashboard {
  display: flex;
  align-items: center;
  column-gap: 1.8rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.hero__dashboard--new {
  background-color: var(--very-dark-blue);
  color: var(--light-grayish-blue);
  letter-spacing: 0.2rem;
  font-weight: var(--font-w-bold);
  padding: 0.1rem 1.2rem;
  border-radius: 10rem;
}
.hero__dashboard--heading-secondary {
  font-weight: var(--font-w-regular);
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  color: var(--grayish-blue);
}
.hero__heading {
  margin-bottom: 4.4rem;
}
.hero__heading--primary {
  font-size: calc(5.2rem + 0.6vw);
  line-height: 1.1;
  margin-bottom: 3rem;
}
.hero__heading--paragraph {
  text-transform: none;
  letter-spacing: 0.07rem;
  line-height: 1.4;
  font-size: 2rem;
}
.hero__btn-box--btn {
  text-decoration: none;
  padding: 0.9rem 2.6rem;
  background-color: var(--red);
  color: var(--light-grayish-blue);
  margin: 0 2.2rem 1.6rem 0;
  display: inline-block;
  border-radius: 0.6rem;
  font-weight: var(--font-w-bold);
  letter-spacing: 0.2rem;
}
.hero__btn-box--btn:hover {
  background-color: var(--red-hover);
  transition: all 160ms;
}
.hero__btn-box span {
  letter-spacing: 0.3rem;
  color: var(--grayish-blue);
  white-space: nowrap;
  display: inline-block;
}
.hero__img-box {
  max-width: 96rem;
  height: auto;
}
.hero__img {
  width: 138%;
  height: auto;
  display: block;
}

.footer {
  font-size: 1.4rem;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
}

.attribution a {
  color: var(--dark-grayish-blue);
  text-decoration: none;
  position: relative;
}
.attribution a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  top: 2.25rem;
  left: 0;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  transform-origin: center;
  transform: scale(0);
  transition: all 160ms cubic-bezier(0.8, 0.24, 0.73, 0.77);
  height: 0.18rem;
  top: 1.5rem;
  background-color: var(--dark-grayish-blue);
}
.attribution a:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/*# sourceMappingURL=style.css.map */
