:root {
  // PRIMARY COLORS
  --red: hsl(0, 100%, 68%);
  --red-hover: rgb(255, 132, 132);

  // NEUTRAL COLORS
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);

  // TYPOGRAPHY
  --body-font-size: 1.8rem;
  --primary-font-family: "Barlow Condensed", sans-serif;
  --font-w-regular: 400;
  --font-w-bold: 700;

  // SIZE/width
  --container-max-width: 144rem;
  --nav-max-width: 111rem;
  --layout-max-width: 128rem;
}
